<html>

<head>
    <title>[FEH] ダメージ計算機</title>
    <link rel="stylesheet" href="css/main.css" type="text/css" />
    <link rel="stylesheet" href="css/loading.css">
</head>

<body>
    <p>FEヒーローズ用のダメージ計算機です。与ダメージの計算や奥義ダメージ比較用のグラフを出力できます。</p>
    <p>より複雑な計算、実際の英雄のステータスやスキルを設定した上でのダメージ計算には<a href="https://fire-emblem.fun/?pid=1469">飛空城シミュレーター</a>をお使いください。</p>

    <style>
        td.param {
            font-size: 16px;
        }

        .numeric {
            width: 40px;
        }

        dt {
            width: 120px;
            float: left;
            clear: left;
            margin: 5;
            border-bottom: 1px solid #ccc;
        }

        dd {
            float: left;
            margin-inline-start: 0px;
            margin: 5;
        }

        .skill {
            width: 150px;
        }
    </style>

    <!-- ローディングアイコン -->
    <div class="sk-fading-circle" id="loader">
        <div class="feh_loading_anim"></div>
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>


    <div id="damageCalc" style="text-align: left;display: none;">
        <dl>
            <dt style="border-bottom-style: none;">モード:</dt>
            <dd>
                <select v-model="mode">
                    <option v-for="option in DamageCalcModeOptions" v-bind:value="option.value">
                        {{option.label}}
                    </option>
                </select>
            </dd>
        </dl>
        <div style="clear:both"></div>
        <div v-show="mode!==DamageCalculatorMode.RoundRobin">

            <fieldset>
                <legend>計算結果</legend>
                <div v-if="mode===DamageCalculatorMode.Simple">
                    与ダメージ =
                    <span style="font-weight: bold;font-size: 20;">{{actualDamageDealt}}</span>
                </div>
                <div v-else-if="mode===DamageCalculatorMode.SpecialDamageGraph">
                    <p>守備/魔防の変化の応じたダメージのグラフです。</p>
                    <select v-model="specialGraphMode">
                        <option v-for="option in SpecialDamageGraphModeOptions" v-bind:value="option.value">
                            {{option.label}}
                        </option>
                    </select>
                    <input type="button" value="グラフ更新" @click="updateDamageGraph">
                    <div><canvas id="damageGraphCanvas" height="300px" width="400px"></canvas></div>
                </div>
            </fieldset>
            <div style="clear:both"></div>
            <fieldset>
                <legend>攻撃者の設定</legend>
                <dl>
                    <dt>武器種</dt>
                    <dd>
                        <select2 :options="WeaponTypeOptions" v-model="atkUnit.weaponType" class="skill"
                            @input="updateDamageResult">
                        </select2>
                    </dd>

                    <dt>攻撃</dt>
                    <dd>
                        <input class="numeric" v-model="atkUnit.atkWithSkills" @change="updateDamageResult"
                            type="number" min="1" max="99" step="1" />
                        <input id="incrementAtk" type="button" value="＋">
                        <input id="decrementAtk" type="button" value="－">
                    </dd>

                    <dt>速さ</dt>
                    <dd>
                        <input class="numeric" v-model="atkUnit.spdWithSkills" @change="updateDamageResult"
                            type="number" min="1" max="99" step="1" />
                        <input id="incrementSpd" type="button" value="＋">
                        <input id="decrementSpd" type="button" value="－">
                    </dd>

                    <dt>守備/魔防</dt>
                    <dd>
                        <input class="numeric" v-model="atkUnit.defWithSkills" @change="updateDamageResult"
                            type="number" min="1" max="99" step="1" />
                        <input id="incrementAttackerMit" type="button" value="＋">
                        <input id="decrementAttackerMit" type="button" value="－">
                    </dd>

                    <dt><label for="effectiveness">特効</label></dt>
                    <dd>
                        <input id="effectiveness" type="checkbox"
                            v-model="atkUnit.battleContext.isEffectiveToOpponentForciblly" @change="updateDamageResult">
                    </dd>

                    <dt><label for="special">奥義</label></dt>
                    <dd>
                        <select2 :options="specialOptions" v-model="atkUnit.special" class="skill"
                            @input="updateDamageResult">
                        </select2>
                    </dd>
                </dl>
            </fieldset>
            <fieldset>
                <legend>被攻撃者の設定</legend>
                <dl>

                    <dt>武器種</dt>
                    <dd>
                        <select2 :options="WeaponTypeOptions" v-model="defUnit.weaponType" class="skill"
                            @input="updateDamageResult">
                        </select2>
                    </dd>

                    <dt>守備/魔防</dt>
                    <dd>
                        <input class="numeric" v-model="defUnit.defWithSkills" @change="updateDamageResult"
                            type="number" min="1" max="99" step="1" value="50" />
                        <input id="incrementMit" type="button" value="＋">
                        <input id="decrementMit" type="button" value="－">
                    </dd>
                    <dt><label for="defensiveTile">防御地形</label></dt>
                    <dd>
                        <input id="defensiveTile" type="checkbox" v-model="defUnit.battleContext.isOnDefensiveTile"
                            @change="updateDamageResult">
                    </dd>

                    <dt><label for="defensiveTile">ダメージ軽減</label></dt>
                    <dd>
                        <input class="numeric" v-model="damageReductionPercentage" @change="updateDamageResult"
                            type="number" min="0" max="100" step="1" value="0" />%
                        <input id="incrementDamageReduction" type="button" value="＋">
                        <input id="decrementDamageReduction" type="button" value="－">
                    </dd>
                </dl>
            </fieldset>
            <fieldset>
                <legend>その他の設定</legend>
                <dl>
                    <dt>相性激化</dt>
                    <dd>
                        <label class="normal" v-for="option in TriangleAdeptOptions">
                            <input type="radio" v-model="triangleAdeptType" v-bind:value="option.value"
                                @change="triangleAdvantageChanged">
                            {{option.label}}
                        </label>
                    </dd>
                </dl>
            </fieldset>
            <div style="clear:both"></div>
            <details open>
                <summary>ダメージ計算式</summary>
                ※一部奥義の計算は省略しています。
                <dl>
                    <dt>攻撃力</dt>
                    <dd>
                        = [攻撃]×[特攻補正] + [攻撃]×[特攻補正]×[相性補正]<br />
                        = floor({{atkUnit.atkWithSkills}} × {{effectivenessFactor}}) +
                        trunc(floor({{atkUnit.atkWithSkills}} ×
                        {{effectivenessFactor}}) × {{attackerTriangleAdvantageFactor}})<br />
                        = {{floorNumberWithFloatError(atkUnit.atkWithSkills*effectivenessFactor)}} +
                        {{truncNumberWithFloatError(floorNumberWithFloatError(atkUnit.atkWithSkills*effectivenessFactor)
                        *
                        attackerTriangleAdvantageFactor)}}<br />
                        = <span
                            style="font-weight: bold;font-size: 20;">{{floorNumberWithFloatError(atkUnit.atkWithSkills*effectivenessFactor)
                            +
                            truncNumberWithFloatError(floorNumberWithFloatError(atkUnit.atkWithSkills*effectivenessFactor)
                            *
                            attackerTriangleAdvantageFactor)}}</span>
                    </dd>
                    <dt>防御力</dt>
                    <dd>
                        = [守備/魔防] - [守備/魔防]×[防御軽減] + [守備/魔防]×[防御地形補正]<br />
                        = {{defUnit.defWithSkills}} -
                        floor({{defUnit.defWithSkills}} × {{specialSufferMitRatio}}) + floor({{defUnit.defWithSkills}} ×
                        {{defensiveTileFactor}})<br />
                        = {{defUnit.defWithSkills}} -
                        {{floorNumberWithFloatError(defUnit.defWithSkills *
                        specialSufferMitRatio)}} +
                        {{floorNumberWithFloatError(defUnit.defWithSkills *
                        defensiveTileFactor)}}<br />
                        = <span style="font-weight: bold;font-size: 20;">{{defUnit.defWithSkills -
                            floorNumberWithFloatError(defUnit.defWithSkills *
                            specialSufferMitRatio) + floorNumberWithFloatError(defUnit.defWithSkills *
                            defensiveTileFactor)}}</span>
                    </dd>
                    <dt>基本ダメージ</dt>
                    <dd>= [攻撃力] - [防御力]<br />
                        = {{floorNumberWithFloatError(atkUnit.atkWithSkills*effectivenessFactor) +
                        truncNumberWithFloatError(floorNumberWithFloatError(atkUnit.atkWithSkills*effectivenessFactor)
                        *
                        attackerTriangleAdvantageFactor)}} - {{defUnit.defWithSkills -
                        floorNumberWithFloatError(defUnit.defWithSkills *
                        specialSufferMitRatio) + floorNumberWithFloatError(defUnit.defWithSkills *
                        defensiveTileFactor)}}<br />
                        = <span style="font-weight: bold;font-size: 20;">{{basicDamageDealt}}</span>
                    </dd>

                    <dt>最終ダメージ</dt>
                    <dd>= [基本ダメージ]×(1 - [ダメージ軽減率])×[ダメージ倍率] + [加算ダメージ]<br />
                        = floor({{basicDamageDealt}} × (1 - {{(damageReductionPercentage *
                        0.01).toFixed(2)}})×{{multDamage}}) + {{additionalDamage}}<br />
                        = {{floorNumberWithFloatError(basicDamageDealt *
                        (1 - damageReductionPercentage *
                        0.01)* multDamage)}} + {{additionalDamage}}<br />
                        = <span style="font-weight: bold;font-size: 20;">{{actualDamageDealt}}</span>
                    </dd>

                </dl>
            </details>
        </div>
        <div v-show="mode===DamageCalculatorMode.RoundRobin">
            <fieldset>
                <legend>攻撃ユニットのバージョン(部)</legend>
                <div style="display: inline-block;margin:5px" v-for="item in targetBookVersions">
                    <input v-bind:id="'targetVer_' + item.id" type="checkbox" v-model="item.value"><label
                        v-bind:for="'targetVer_' + item.id"> {{item.id}}</label>
                </div>
                <div style="clear:both">
                    <input type="button" @click="for(item of targetBookVersions) item.value = true;" value="全てオン">
                    <input type="button" @click="for(item of targetBookVersions) item.value = false;" value="全てオフ">
                </div>
            </fieldset>
            <fieldset>
                <legend>被攻撃ユニットのバージョン(部)</legend>
                <div style="display: inline-block;margin:5px" v-for="item in enemyBookVersions">
                    <input v-bind:id="'enemyVer_' + item.id" type="checkbox" v-model="item.value"><label
                        v-bind:for="'enemyVer_' + item.id"> {{item.id}}</label>
                </div>
                <div style="clear:both">
                    <input type="button" @click="for(item of enemyBookVersions) item.value = true;" value="全てオン">
                    <input type="button" @click="for(item of enemyBookVersions) item.value = false;" value="全てオフ">
                </div>
            </fieldset>
            <fieldset>
                <legend>戦闘設定</legend>
                <dl>
                    <dt>総当たりモード:</dt>
                    <dd>
                        <select v-model="roundRobinCombatMode">
                            <option v-for="option in RoundRobinCombatModeOptions" v-bind:value="option.value">
                                {{option.label}}
                            </option>
                        </select>
                    </dd>
                    <dt>戦闘回数</dt>
                    <dd>
                        <select v-model="roundRobinCombatCount">
                            <option v-for="num in 10" v-bind:value="num">
                                {{num}}
                            </option>
                        </select>
                    </dd>
                </dl>
            </fieldset>
            <fieldset>
                <legend>ユニットの設定</legend>
                <dl>
                    <dt>限界突破:</dt>
                    <dd>
                        <input type="number" v-model="roundRobinParam.merge">
                    </dd>
                    <dt>神竜の花(-1は各英雄の最大):</dt>
                    <dd>
                        <input type="number" v-model="roundRobinParam.dragonflower">
                    </dd>
                    <dt>紋章士の限界突破:</dt>
                    <dd>
                        <input type="number" v-model="roundRobinParam.emblemHeroMerge">
                    </dd>
                    <dt>奥義:</dt>
                    <dd>
                        <select2 :options="specialOptions" v-model="roundRobinParam.special" class="skill">
                        </select2>
                        <select v-model="roundRobinParam.special_skillSwappingMode">
                            <option v-for="option in SkillSwappingModeOptions" v-bind:value="option.value">
                                {{option.label}}
                            </option>
                        </select>
                    </dd>
                    <dt>A:</dt>
                    <dd>
                        <select2 :options="passiveAOptions" v-model="roundRobinParam.passiveA" class="skill">
                        </select2>
                        <select v-model="roundRobinParam.passiveA_skillSwappingMode">
                            <option v-for="option in SkillSwappingModeOptions" v-bind:value="option.value">
                                {{option.label}}
                            </option>
                        </select>

                    </dd>
                    <dt>B:</dt>
                    <dd>
                        <select2 :options="passiveBOptions" v-model="roundRobinParam.passiveB" class="skill">
                        </select2>
                        <select v-model="roundRobinParam.passiveB_skillSwappingMode">
                            <option v-for="option in SkillSwappingModeOptions" v-bind:value="option.value">
                                {{option.label}}
                            </option>
                        </select>
                    </dd>
                    <dt>C:</dt>
                    <dd>
                        <select2 :options="passiveCOptions" v-model="roundRobinParam.passiveC" class="skill">
                        </select2>
                        <select v-model="roundRobinParam.passiveC_skillSwappingMode">
                            <option v-for="option in SkillSwappingModeOptions" v-bind:value="option.value">
                                {{option.label}}
                            </option>
                        </select>
                    </dd>
                    <dt>S:</dt>
                    <dd>
                        <select2 :options="passiveSOptions" v-model="roundRobinParam.passiveS" class="skill">
                        </select2>
                        <select v-model="roundRobinParam.passiveS_skillSwappingMode">
                            <option v-for="option in SkillSwappingModeOptions" v-bind:value="option.value">
                                {{option.label}}
                            </option>
                        </select>
                    </dd>
                    <dt>X:</dt>
                    <dd>
                        <select2 :options="passiveXOptions" v-model="roundRobinParam.passiveX" class="skill">
                        </select2>
                        <select v-model="roundRobinParam.passiveX_skillSwappingMode">
                            <option v-for="option in SkillSwappingModeOptions" v-bind:value="option.value">
                                {{option.label}}
                            </option>
                        </select>
                    </dd>
                </dl>
            </fieldset>

            <div style="clear:both"></div>
            <input type="button" value="計算開始" @click="calcRoundRogin">

        </div>
        <div style="clear:both"></div>
        <details open>
            <summary>計算ログ</summary>
            <label><input type="checkbox" v-model="logger.isLogEnabled">ログ有効</label>
            <input type="button" value="クリア" @click="g_damageCalcData.clearLog()">
            <div v-html="log"
                style="height: 400px; border: 1px solid #dddddd;background-color: #ffffff;overflow-y: scroll;">
            </div>
        </details>
    </div>

    <!-- jquery -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script> -->
    <!-- <script rel="preconnect" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
    <script src="https://fire-emblem.fun/js/jquery-3.7.0.min.js"></script>

    <!-- select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <!-- jquery-ui -->
    <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <!-- 文字列圧縮 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.4.4/lz-string.min.js"></script>

    <!-- chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>

    <script>
        function createScriptElement(src, onloadFunc) {
            let element = document.createElement("script");
            element.type = "text/javascript";
            element.src = src;
            element.onload = onloadFunc;
            // document.body.appendChild(element);
            let headElement = document.getElementsByTagName('head')[0];
            headElement.appendChild(element);
        }

        let rootPath = "";
        // rootPath = "/AetherRaidTacticsBoard/Release2/";

        function loadScripts(scriptFileNames, allScriptLoaded, index = 0) {
            if (index == scriptFileNames.length) {
                allScriptLoaded();
                return;
            }

            let reloadSuffix = "20200513";
            let scriptFileName = rootPath + scriptFileNames[index];
            let src = scriptFileName + "?" + reloadSuffix;
            const startTime = Date.now();
            createScriptElement(src, x => {
                const endTime = Date.now();
                console.log(`${endTime - startTime} ms to load ${src}`);
                loadScripts(scriptFileNames, allScriptLoaded, ++index);
            });
        }

        function addKeyRepeatEvents() {
            addKeyRepeatEventById("incrementAtk", () => g_damageCalcData.atkUnit.atkWithSkills = Math.min(g_damageCalcData.atkUnit.atkWithSkills + 1, 99));
            addKeyRepeatEventById("decrementAtk", () => g_damageCalcData.atkUnit.atkWithSkills = Math.max(g_damageCalcData.atkUnit.atkWithSkills - 1, 0));
            addKeyRepeatEventById("incrementSpd", () => g_damageCalcData.atkUnit.spdWithSkills = Math.min(g_damageCalcData.atkUnit.spdWithSkills + 1, 99));
            addKeyRepeatEventById("decrementSpd", () => g_damageCalcData.atkUnit.spdWithSkills = Math.max(g_damageCalcData.atkUnit.spdWithSkills - 1, 0));
            addKeyRepeatEventById("incrementAttackerMit", () => g_damageCalcData.atkUnit.defWithSkills = Math.min(g_damageCalcData.atkUnit.defWithSkills + 1, 99));
            addKeyRepeatEventById("decrementAttackerMit", () => g_damageCalcData.atkUnit.defWithSkills = Math.max(g_damageCalcData.atkUnit.defWithSkills - 1, 0));
            addKeyRepeatEventById("incrementMit", () => g_damageCalcData.defUnit.defWithSkills = Math.min(g_damageCalcData.defUnit.defWithSkills + 1, 99));
            addKeyRepeatEventById("decrementMit", () => g_damageCalcData.defUnit.defWithSkills = Math.max(g_damageCalcData.defUnit.defWithSkills - 1, 0));
            addKeyRepeatEventById("incrementDamageReduction", () => g_damageCalcData.damageReductionPercentage = Math.min(g_damageCalcData.damageReductionPercentage + 1, 100));
            addKeyRepeatEventById("decrementDamageReduction", () => g_damageCalcData.damageReductionPercentage = Math.max(g_damageCalcData.damageReductionPercentage - 1, 0));
        }


        $(function () {
            const isLocal = typeof weaponInfos == 'undefined';
            console.log(`isLocal=${isLocal}`);
            let additionalScripts = [];
            if (isLocal) {
                additionalScripts = [
                    "GlobalDefinitions_Debug.js",
                    "Utilities.js",
                    "Logger.js",
                    "SkillConstants.js",
                    "Skill.js",
                    "SkillImpl.js",
                    "BattleMapElement.js",
                    "Tile.js",
                    "BattleMap.js",
                    "GlobalBattleContext.js",
                    "Structures.js",
                    "Table.js",
                    "HeroInfoConstants.js",
                    "HeroInfo.js",
                    "UnitConstants.js",
                    "Unit.js",
                    "UnitManager.js",
                    "SkillDatabase.js",
                    "HeroDatabase.js",
                    "DamageCalculationUtility.js",
                    "DamageCalculator.js",
                    "PostCombatSkillHander.js",
                    "DamageCalculatorWrapper.js",
                    "BeginningOfTurnSkillHandler.js",
                    "SampleSkillInfos.js",
                    "SampleHeroInfos.js",
                    "VueComponents.js",
                    "KeyRepeatHandler.js",
                    "DamageCalculatorMain.js",
                ];
            }
            const startTime = Date.now();
            loadScripts(additionalScripts, () => {
                const endTime = Date.now();
                console.log(`${endTime - startTime} ms to load all scripts`);
                initDamageCalculator(heroInfos, weaponInfos, supportInfos, specialInfos, passiveAInfos, passiveBInfos, passiveCInfos,
                    passiveSInfos, passiveXInfos);
                addKeyRepeatEvents();

                const loader = document.getElementById("loader");
                loader.style.display = "none";
                const app = document.getElementById("damageCalc");
                app.style.display = "";
            });
        });
    </script>
</body>

</html>