/* Logger */
.log-simple {
}

.log-error {
    font-size: 12px;
    color: red;
}

.log-warn {
    /*font-size: 12px;*/
    /*color: #ffa500;*/
    color: #ff6600;
}

.log-info {
    font-size: 10px;
    color: #000000;
    width: 100%;
}

.log-debug {
    font-size: 10px;
    color: #666666;
}

.log-trace {
    font-size: 10px;
    color: #777777;
}

.log-trace2 {
    font-size: 10px;
    color: #888888;
}

.log-trace3 {
    font-size: 10px;
    color: #999999;
}

.log-trace4 {
    font-size: 10px;
    color: #aaaaaa;
}

.log-trace5 {
    font-size: 10px;
    color: #bbbbbb;
}

.log-action-header {
    background: #eeeeee;
    width: 100%;
    margin-top: 2px;
}

.log-ally {
    color: #0033ff;
}

.log-ally-header {
    color: #0033ff;
    background: #ddddff;
    width: 100%;
    margin-top: 5px;
}

.log-enemy {
    color: #ff3300;
}

.log-enemy-header {
    color: #ff3300;
    background: #ffdddd;
    width: 100%;
    margin-top: 5px;
}

.log-special-str {
    color: #ff00ff;
}

.log-special {
    color: #ff00ff;
    font-weight: bold;
}

.log-damage {
    color: #ff0000;
    font-weight: bold;
    display: inline-block;
    width: 2ch;
    text-align: right;
}

.log-damage-line {
    /*border: 1px solid #ffbbbb;*/
    padding-left: 5px;
}

.log-heal {
    color: #008800;
    font-weight: bold;
}

.log-heal-line {
    /*border: 1px solid #bbffbb;*/
    padding-left: 5px;
}

.log-gray {
    color: #888888;
}

/* Summary */
.summary-text-shadow {
    text-shadow: #444 1px 1px 0px,
    #444 -1px 1px 0px,
    #444 1px -1px 0px,
    #444 -1px -1px 0px,
    #444 0px 1px 0px,
    #444 0px -1px 0px,
    #444 -1px 0px 0px,
    #444 1px 0px 0px;
}

tr.attackInfo {
    font-size: 9px;
    border: 10px solid;
    padding: 0px;
    margin: 0px;
}

td.ally {
    position: relative;
    background-color: cadetblue;
    border: 1px solid lightblue;
}

td.enemy {
    position: relative;
    background-color: rgb(177, 55, 55);
    border: 1px solid lightblue;
}

.summary-damage-label {
    color: white;
    font-size: 10px;
}

.summary-damage-figure {
    color: yellow;
    font-size: 10px;
}

.summary-label {
    color: white;
    font-size: 9px;
}

.summary-figure {
    color: yellow;
    font-size: 9px;
}

.summary-positive-stats {
    color: #00eeee;
}

.summary-negative-stats {
    color: #ffaaaa;
}

.summary-grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 14px);
    place-content: center;
}

.summary-grid-item {
    font-size: 9px;
    text-align: left;
    align-items: center;
    box-sizing: border-box;
    display: flex;
}

.summary-grid-container .divine-vein {
    grid-column: 1 / 3;
    grid-row: 1;
    border-bottom: 1px solid #aaaaaa;
}

.summary-divine-vein-ally-area {
    position: absolute;
    left: 0px;
}

.summary-divine-vein-enemy-area {
    position: absolute;
    right: 0px;
}

.summary-divine-vein-turn {
    color: #FFFFFF;
    border-radius: 50%;
}

.summary-divine-vein-bg-ally {
    background-color: #00bbff;
}

.summary-divine-vein-bg-enemy {
    background-color: #ff8800;
}

.summary-grid-container .hp {
    grid-column: 3 / -1;
    grid-row: 1;
    border-bottom: 1px solid #aaaaaa;
}

.summary-grid-container .atk {
    grid-column: 1 / 6;
    grid-row: 2;
}

.summary-grid-container .spd {
    grid-column: 6 / -1;
    grid-row: 2;
}

.summary-grid-container .def {
    grid-column: 1 / 6;
    grid-row: 3;
    border-bottom: 1px solid #aaaaaa;
}

.summary-grid-container .res {
    grid-column: 6 / -1;
    grid-row: 3;
    border-bottom: 1px solid #aaaaaa;
}

.summary-grid-container .buff-or-debuff {
    font-size: 7px
}

.summary-grid-container .status-effect {
    font-size: 8px
}

/* Rows 4 to 6 with 1 column */
.summary-grid-container .positive, .negative {
    grid-column: 1 / -1;
}

.summary-grid-container .level {
    grid-column: 1 / 3;
    grid-row: 4;
    border-bottom: 1px solid #aaaaaa;
}

.summary-grid-container .icons {
    grid-column: 3 / -1;
    grid-row: 4;
    border-bottom: 1px solid #aaaaaa;
}

.summary-grid-container .positive {
    grid-row: 5;
}

.summary-grid-container .negative {
    grid-row: 6;
}

.summary-grid-item.positive img {
    height: 12px;
    width: 12px;
}

.summary-grid-item.negative img {
    height: 12px;
    width: 12px;
}

.summary-icons {
    position: relative;
    display: inline-flex;
}

.summary-icons img {
    height: 14px;
    width: 14px;
}

.summary-icons img.skill-type {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 6px;
    width: 6px;
}

.summary-icon {
    height: 9px;
    width: 9px;
}

.summary-icon-big {
    height: 12px;
    width: 12px;
}

.summary-icon-grey {
    filter: grayscale(100%);
}

/* Map */
.map-divine-vein-img {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    pointer-events: none;
}

.map-divine-vein-turns {
    position: absolute;
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;

    color: rgba(255, 255, 255, 0.75);
    font-size: 18px;

    pointer-events: none;
}

.map-buff-debuff-area {
    position: absolute;
    bottom: 4px;
    right: 0;
    pointer-events: none;
}

.map-buff-debuff-area img {
    height: 12px;
}

.map-rest-turns {
    position: absolute;
    font-size: 8px;
    right: 0px;
    bottom: -1px;
}

.map-emblem-hero-area {
    position: absolute;
    right: -2px;
    top: 12px;
    pointer-events: none;
}

.map-text-shadow {
    text-shadow: #444 1px 1px 0px,
    #444 -1px 1px 0px,
    #444 1px -1px 0px,
    #444 -1px -1px 0px,
    #444 0px 1px 0px,
    #444 0px -1px 0px,
    #444 -1px 0px 0px,
    #444 1px 0px 0px;
}

.map-hidden {
    display: none;
}

.map-warp-bubble-icon {
    position: relative;
    pointer-events: none;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
}

.map-aoe-special-icon {
    position: relative;
    pointer-events: none;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
}

.map-status-icon-container {
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

.map-status-icon {
    width: 15px;
}

.fehButton.map-control-button {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.fehButtonDisabled.map-control-button {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.map-activate-style-button {
    background-image: url(/AetherRaidTacticsBoard/images/ActivateStyle.webp);
}

.map-deactivate-style-button {
    background-image: url(/AetherRaidTacticsBoard/images/DeactivateStyle.webp);
}

.unit-dialog {
    text-align: left;
    font-size: 12px;
}

.unit-dialog-icon {
    width: 14px;
    height: 14px;
}

.unit-dialog .input-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*width: 100%;*/

    /*border: 1px solid #ccc;*/
    /*border-radius: 5px;*/
    /*overflow: hidden;*/
    /*width: 270px;*/

    width: 100%;
    height: 24px;
    /*max-width: 400px;*/
    padding-left: 5px;
    /*margin: 0px;*/
    /*font-size: 12px;*/
    border: 1px solid #ccc;
    /*border: 1px solid #ff0000;*/
    border-radius: 4px;
    outline: none;
    transition: all 0.3s ease;
    background-color: #fff;
    /*box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);*/
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 3px;
    font-size: 12px;
}

.input-box:focus-within {
    font-size: 12px;
    border-color: #007bff;
    box-shadow: 1px 1px 4px rgba(0, 123, 255, 0.4);
}

/* 入力エリアのスタイル */
.unit-dialog .text-input {
    flex: 1;
    /*padding: 5px;*/
    border: none;
    outline: none;
    font-size: 12px;
    height: 100%;

    /*width: 100%;*/
    /*!*max-width: 400px;*!*/
    /*padding: 4px;*/
    /*!*font-size: 12px;*!*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    /*outline: none;*/
    /*transition: all 0.3s ease;*/
    /*background-color: #fff;*/
    /*box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);*/
    /*margin-bottom: 5px;*/
}

/* フォーカス時のエフェクト */
.unit-dialog .text-input:focus {
    /*border-color: #007bff;*/
    /*box-shadow: 1px 1px 4px rgba(0, 123, 255, 0.4);*/
}

/* プレースホルダーのスタイル */
.unit-dialog .text-input::placeholder {
    color: #999;
}

.unit-dialog table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    table-layout: auto;
}

.unit-dialog th, .unit-dialog td {
    border-bottom: 1px solid #ccc;
    padding: 4px;
    text-align: left;
}

.unit-dialog th {
    background-color: #f4f4f4;
}

.unit-dialog .col-load {
    width: 12px;
    padding: 0;
    margin: 0;
}

.unit-dialog .col-delete {
    width: 12px;
    padding: 0;
    margin: 0;
}

.unit-dialog .col-type {
    width: 40px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin: 2px;
}

.download-button {
    color: #007bff; /* 青色 */
}

.upload-button {
    color: #ff6600;
}

.upload-and-replace-button {
    color: red;
}

.save-box-button {
    height: 100%;
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    /*color: #28a745; !* 緑色 *!*/
}

.save-button {
    color: #007bff; /* 青色 */
}

.edit-button {
    color: #007bff; /* 青色 */
}

.edit-input {
    height: 100%;
    border: 1px solid #ccc;
}

.load-button {
    color: #007bff; /* 青色 */
}

.delete-button {
    color: #ff5555; /* アイコンの色を赤に設定 */
    font-size: 18px; /* アイコンのサイズ */
}

.delete-button:hover {
    color: #cc0000; /* ホバー時に暗い赤にする */
}

.action-container {
    display: flex;
    align-items: center; /* 垂直方向に中央揃え */
    gap: 2px; /* 要素間の間隔を設定 */
}

.action-item-right {
    margin-left: auto; /* 最後の要素を右寄せ */
}

.status-effect-description-label {
    /*display: block; !* インライン要素なのでブロック要素に *!*/
    display: inline-block;
    width: 280px; /* ラベルの幅を固定 */
    /*word-wrap: break-word; !* 長い単語を折り返す *!*/
    /*overflow-wrap: break-word;*/

    white-space: nowrap; /* 改行を防ぐ */
    overflow: hidden; /* はみ出した部分を隠す */
    text-overflow: ellipsis; /* 省略記号（...）を表示 */
}

.status-effect-description {
    color: grey;
}
