<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>英雄アイコンリスト</title>
    <link rel="stylesheet" href="../../css/main.css?20181201" type="text/css" />
    <script>
        const g_startTime = Date.now();
    </script>
    <script>
        // 画像の遅延ロード用の処理。以下の要素を作ると遅延ロードされる
        // <img src="dummy.png" data-src="actual.png" class="lazy" />
        document.addEventListener("DOMContentLoaded", function () {
            let lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));
            let lazyInputs = [].slice.call(document.querySelectorAll("input.lazy"));
            if ("IntersectionObserver" in window) {
                let lazyImageObserver = new IntersectionObserver(function (entries, observer) {
                    entries.forEach(function (entry) {
                        if (entry.isIntersecting) {
                            let lazyImage = entry.target;
                            if (lazyImage.tagName == "IMG") {
                                lazyImage.src = lazyImage.dataset.src;
                                if (typeof lazyImage.dataset.srcset === "undefined") {
                                } else {
                                    lazyImage.srcset = lazyImage.dataset.srcset;
                                }
                            }
                            else if (lazyImage.tagName == "INPUT") {
                                lazyImage.style.backgroundImage = `url("${lazyImage.dataset.src}")`;
                            }
                            lazyImage.classList.remove("lazy");
                            lazyImageObserver.unobserve(lazyImage);
                        }
                    });
                });

                lazyImages.forEach(function (lazyImage) {
                    lazyImageObserver.observe(lazyImage);
                });
                lazyInputs.forEach(function (lazyInput) {
                    lazyImageObserver.observe(lazyInput);
                });
            } else {
                // Possibly fall back to a more compatible method here
            }
        });
    </script>
</head>

<body>
    <p>
        FEHの全英雄のアイコン一覧です。特定の英雄について説明用の資料を作る時などに使います。
    </p>
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <!-- vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>

    <!-- rasterizehtml -->
    <script src="https://puarts.com/js/rasterizeHTML.allinone.js"></script>

    <style>
        .button {
            width: 120px
        }
    </style>

    <div id="app">
        <details>
            <summary>詳細設定</summary>
            <dl>
                <dt>アイコンサイズ:</dt>
                <dd>
                    <input type="range" v-model="iconSize" max="200" min="10" step="1">
                </dd>
                <dt>背景色:</dt>
                <dd>
                    <input type="color" v-model="bgColor" @change="g_appData.updateBgColor()"><br />
                </dd>
                <dt>背景不透明度:</dt>
                <dd>
                    <input type="range" v-model="bgOpacity" max="255" min="0" step="1"
                        @change="g_appData.updateBgColor()">
                </dd>
            </dl>
        </details>
        <p>
            名前検索:
            <input type="text" v-model="nameQuery" @input="g_appData.applyFilter()">
            <input id="needsFullMatching" v-model="needsFullMatching" type="checkbox"
                @change="g_appData.applyFilter()"><label for="needsFullMatching">完全一致</label>
            <input id="showsAllDefault" v-model="showsAllDefault" type="checkbox"
                @change="g_appData.applyFilter()"><label for="showsAllDefault">デフォルト全表示</label>

        </p>
        <input type="button" @click="saveAsImage()" value="画像として保存(PCのみ)"><br />



        <fieldset id="iconListRoot" class="submenuField" v-bind:style="`background-color:${bgColorWithAlpha};`">
            <div v-for="heroInfo in filteredHeroInfos" style="float:left;position:relative;">
                <a title="heroInfo.name + 'の詳細情報(ステータス、個性、習得スキル等)'"
                    v-bind:href="heroInfo.detailPageUrl + '#main-content'">
                    <img v-bind:src="heroInfo.iconUrl" class="heroThumb" v-bind:alt="heroInfo.name"
                        v-bind:width="iconSize" v-bind:height="iconSize">
                    <span style="position:absolute;bottom:0px;right:0px;" v-if="heroInfo.seasonType != SeasonType.None">
                        <img v-bind:src="'https://puarts.com/AetherRaidTacticsBoard/images/Season_'+getSeasonTypeName(heroInfo.seasonType)+'.png'"
                            v-bind:width="iconSize*15/40" v-bind:height="iconSize*15/40">
                    </span>
                </a>
            </div>
        </fieldset>
    </div>

    <script>
        function drawElementToCanvas(sourceElem, canvas) {
            let serialized = new XMLSerializer().serializeToString(sourceElem);

            serialized = serialized.replaceAll("https://puarts.com", "")

            // レンダリング時に上下左右に隙間が入ってしまうので、その分をcanvasサイズに加味
            const paddingW = 10;
            const paddingH = 15;
            canvas.width = sourceElem.offsetWidth + paddingW * 2;
            canvas.height = sourceElem.offsetHeight + paddingH * 2;
            return rasterizeHTML.drawHTML(serialized, canvas);
        }

        function saveCanvasAsPng(sourceElem, canvas, saveImageFileName) {
            drawElementToCanvas(sourceElem, canvas).then(function (result) {
                console.log(result);
                let xhr = new XMLHttpRequest();
                xhr.responseType = 'blob';
                xhr.onload = function () {
                    let a = document.createElement('a');
                    a.href = window.URL.createObjectURL(xhr.response);
                    a.download = saveImageFileName;
                    a.style.display = 'none';
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                };

                let canvasImage = canvas.toDataURL('image/png');

                xhr.open('GET', canvasImage); // This is to download the canvas Image
                xhr.send();
            }, function (e) {
                console.log('An error occured:', e);
            });
        }

        function saveAsImage() {
            let sourceElem = document.getElementById("iconListRoot");
            let canvas = document.createElement("canvas");
            saveCanvasAsPng(sourceElem, canvas, "result.png");
        }
    </script>


    <script>
        function createScriptElement(src, onloadFunc) {
            let element = document.createElement("script");
            element.type = "text/javascript";
            element.src = src;
            element.onload = onloadFunc;
            // document.body.appendChild(element);
            let headElement = document.getElementsByTagName('head')[0];
            headElement.appendChild(element);
        }

        function loadScripts(scriptFileNames, allScriptLoaded, index = 0) {
            if (index == scriptFileNames.length) {
                allScriptLoaded();
                return;
            }

            let jsRootPath = "./";
            // jsRootPath = "/AetherRaidTacticsBoard/Release2/";
            let reloadSuffix = "20200513";
            let scriptFileName = scriptFileNames[index];
            let src = jsRootPath + scriptFileName + "?" + reloadSuffix;
            const startTime = Date.now();
            createScriptElement(src, x => {
                const endTime = Date.now();
                console.log(`${endTime - startTime} ms to load ${src}`);
                loadScripts(scriptFileNames, allScriptLoaded, ++index);
            });
        }

        window.addEventListener('load', (event) => {
            const isLocal = typeof heroInfos == 'undefined';
            console.log(`isLocal=${isLocal}`);
            let additionalScripts = [];
            if (isLocal) {
                additionalScripts = [
                    "GlobalDefinitions_Debug.js",
                    "Utilities.js",
                    "Skill.js",
                    "HeroInfo.js",
                    "HeroDatabase.js",
                    "HeroIconListerMain.js",
                    "SampleHeroInfos.js",
                ];
            }
            const startTime = Date.now();
            loadScripts(additionalScripts, () => {
                const endTime = Date.now();
                console.log(`${endTime - startTime} ms to load all scripts`);
                console.log("initializing application");

                init(heroInfos);

                if (isLocal) {
                    loadLazyImages();
                }
            });
        });
    </script>



</body>

</html>