<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>ステータス計算機</title>
    <link type="text/css" rel="stylesheet" href="css/main.css">
    <script>
        const g_startTime = Date.now();
    </script>
</head>

<body>
    <div id="app">
        <div
            style="text-align: left;background-color: #6aa5a2;border: solid 2px #ded;padding: 10px;width: fit-content;border-radius: 20px; font-size: 14px;text-shadow: #444 1px 1px 0px, #444 -1px 1px 0px, #444 1px -1px 0px, #444 -1px -1px 0px, #444 0px 1px 0px, #444 0px -1px 0px, #444 -1px 0px 0px, #444 1px 0px 0px">
            <table style="border:none 0px #999;color: white;">
                <tr>
                    <td>
                        <table style="color:white">
                            <tr>
                                <td rowspan="2">
                                    <img v-bind:src="value.icon" width="50" height="50" alt="英雄アイコン">
                                </td>
                                <td>
                                    ★<select v-model="value.rarity" @change="updateStatus();">
                                        <option v-for="item in UnitRarity" v-bind:value="item">
                                            {{ item}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    LV.<input name="merge" type="number" v-model="value.level" min="1" max="99"
                                        @input="updateStatus()" style="width:50px">
                                    +
                                    <select v-model="value.merge" @change="updateStatus();">
                                        <option v-for="(value, i) in (10+1)" v-bind:value="i">
                                            {{ i }}
                                        </option>
                                    </select>
                                    <label>
                                        <img v-if="value.moveType == MoveType.Infantry"
                                            :src="g_siteRootPath + 'images/feh/Dragonflower_Infantry.png'" width="30"
                                            height="30" alt="神竜の花">
                                        <img v-else-if="value.moveType == MoveType.Flying"
                                            :src="g_siteRootPath + 'images/feh/Dragonflower_Flying.png'" width="30"
                                            height="30" alt="神竜の花">
                                        <img v-else-if="value.moveType == MoveType.Cavalry"
                                            :src="g_siteRootPath + 'images/feh/Dragonflower_Cavalry.png'" width="30"
                                            height="30" alt="神竜の花">
                                        <img v-else-if="value.moveType == MoveType.Armor"
                                            :src="g_siteRootPath + 'images/feh/Dragonflower_Armored.png'" width="30"
                                            height="30" alt="神竜の花">
                                        +</label>
                                    <select v-model="value.dragonflower" @change="updateStatus();">
                                        <option v-for="(value, i) in (value.maxDragonflower+1)" v-bind:value="i">
                                            {{ i }}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                        </table>

                        <p>
                            <label class="normal">得意: </label>
                            <select v-model="value.ivHighStat" @change="updateStatus()">
                                <option v-for="option in IvStateOptions" v-bind:value="option.id">
                                    {{ option.text }}
                                </option>
                            </select>
                            <label class="normal">苦手: </label>
                            <select v-model="value.ivLowStat" @change="updateStatus()">
                                <option v-for="option in IvStateOptions" v-bind:value="option.id">
                                    {{ option.text }}
                                </option>
                            </select>
                            <label class="normal"><img src="/AetherRaidTacticsBoard/images/AscendedFloret.png" alt="開花"
                                    width="20" height="20"></label>
                            <select v-model="value.ascendedAsset" @change="updateStatus()">
                                <option v-for="option in IvStateOptions" v-bind:value="option.id">
                                    {{ option.text }}
                                </option>
                            </select>
                            <br>
                            <span v-if="value.groupId == UnitGroupType.Ally">
                                <label class="normal">絆: </label>
                                <select v-model="value.summonerLevel" @change="updateStatus()">
                                    <option v-for="option in SummonerLevelOptions" v-bind:value="option.id">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </span>
                        </p>
                        <p>
                            <input id="isWeaponEnabled" type="checkbox" v-model="isWeaponEnabled"
                                @change="updateStatus()">
                            <label class="normal" for="isWeaponEnabled">武器装備</label>

                            <input id="isBonusChar" type="checkbox" v-model="value.isBonusChar"
                                @change="updateStatus()">
                            <label class="normal" for="isBonusChar">ボナキャラ補正</label>
                            <span v-if="value.heroInfo!=null && value.heroInfo.isResplendent">
                                <input id="isResplendent" type="checkbox" v-model="value.isResplendent"
                                    @change="updateStatus()">
                                <label class="normal" for="isResplendent">神装</label>
                            </span>
                        </p>
                        <details style="max-width:290px;">
                            <summary>祝福による能力値補正</summary>
                            <select v-model="value.blessing1" @change="updateStatus()">
                                <option v-for="option in BlessingTypeOptions" v-bind:value="option.id">
                                    {{ option.text }}
                                </option>
                            </select>
                            <select v-model="value.blessing2" @change="updateStatus()">
                                <option v-for="option in BlessingTypeOptions" v-bind:value="option.id">
                                    {{ option.text }}
                                </option>
                            </select>
                            <select v-model="value.blessing3" @change="updateStatus()">
                                <option v-for="option in BlessingTypeOptions" v-bind:value="option.id">
                                    {{ option.text }}
                                </option>
                            </select>
                            <select v-model="value.blessing4" @change="updateStatus()">
                                <option v-for="option in BlessingTypeOptions" v-bind:value="option.id">
                                    {{ option.text }}
                                </option>
                            </select>
                            <select v-model="value.blessing5" @change="updateStatus()">
                                <option v-for="option in BlessingTypeOptions" v-bind:value="option.id">
                                    {{ option.text }}
                                </option>
                            </select>
                        </details>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="border:solid 1px #999;text-shadow: none;color: black;width:100%">
                            <thead style="text-align: center;">
                                <tr>
                                    <!-- <th></th> -->
                                    <th>HP</th>
                                    <th>攻撃</th>
                                    <th>速さ</th>
                                    <th>守備</th>
                                    <th>魔防</th>
                                    <th>総合</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;background-color: white">
                                <tr>
                                    <!-- <th>能力値</th> -->
                                    <td>{{value.maxHpWithSkills}}</td>
                                    <td>{{value.atkWithSkills}}</td>
                                    <td>{{value.spdWithSkills}}</td>
                                    <td>{{value.defWithSkills}}</td>
                                    <td>{{value.resWithSkills}}</td>
                                    <td>
                                        {{value.maxHpWithSkills+value.atkWithSkills+value.spdWithSkills+value.defWithSkills+value.resWithSkills}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="statusTable" v-html="diffToHtml(value.maxHpWithSkills - value.maxHp)">
                                    </td>
                                    <td class="statusTable" v-html="diffToHtml(value.atkWithSkills - value.atk)"></td>
                                    <td class="statusTable" v-html="diffToHtml(value.spdWithSkills - value.spd)"></td>
                                    <td class="statusTable" v-html="diffToHtml(value.defWithSkills - value.def)"></td>
                                    <td class="statusTable" v-html="diffToHtml(value.resWithSkills - value.res)"></td>
                                    <td class="statusTable"
                                        v-html="diffToHtml(value.maxHpWithSkills+value.atkWithSkills+value.spdWithSkills+value.defWithSkills+value.resWithSkills-value.maxHp-value.atk-value.spd-value.def-value.res)">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" style="width:49%" value="凸と花を最大化" @click="maximaizeMergeAndDragonflower">
                        <input type="button" style="width:49%" value="リセット" @click="reset">
                    </td>
                </tr>
                <tr>
                    <td>
                        <fieldset style="background-color:#517e7c">
                            <legend>闘技場最大スコア</legend>
                            <span style="color:#ff6;font-size:20px;width:100px;display:inline-block">{{value.arenaScore
                                *
                                2}}
                                ({{value.arenaScore}})</span>
                            <div style="font-size:14px">
                                (最大SP: {{totalSp}}, 査定総合値: {{value.rating}})
                            </div>
                            <div style="padding-top:5px">
                                <span v-if="value.moveType != MoveType.Armor">
                                    <input id="isDuelSkillEnabled" type="checkbox" v-model="isDuelSkillEnabled"
                                        @change="updateStatus()">
                                    <label class="normal" for="isDuelSkillEnabled"
                                        style="font-size:14px">死闘4装備で計算</label>
                                </span>
                            </div>
                        </fieldset>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <script>
        function createScriptElement(src, onloadFunc) {
            let element = document.createElement("script");
            element.type = "text/javascript";
            element.src = src;
            element.onload = onloadFunc;
            // document.body.appendChild(element);
            let headElement = document.getElementsByTagName('head')[0];
            headElement.appendChild(element);
        }

        function loadScripts(scriptFileNames, allScriptLoaded, index = 0) {
            if (index == scriptFileNames.length) {
                allScriptLoaded();
                return;
            }

            let jsRootPath = "./";
            // jsRootPath = "/AetherRaidTacticsBoard/Release2/";
            let reloadSuffix = "20200513";
            let scriptFileName = scriptFileNames[index];
            let src = jsRootPath + scriptFileName + "?" + reloadSuffix;
            const startTime = Date.now();
            createScriptElement(src, x => {
                const endTime = Date.now();
                console.log(`${endTime - startTime} ms to load ${src}`);
                loadScripts(scriptFileNames, allScriptLoaded, ++index);
            });
        }

        const isLocal = window.location.hostname === "127.0.0.1" || window.location.hostname === "localhost";
        function initCalculatorLocal() {
            console.log(`isLocal=${isLocal}`);
            let additionalScripts = [];
            if (isLocal) {
                additionalScripts = [
                    "GlobalDefinitions_Debug.js",
                    "Utilities.js",
                    "Skill.js",
                    "BattleMapElement.js",
                    "HeroInfo.js",
                    "Unit.js",
                    "StatusCalcMain.js",
                ];
            }
            const startTime = Date.now();
            createScriptElement("https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js", x => {
                loadScripts(additionalScripts, () => {
                    const endTime = Date.now();
                    console.log(`${endTime - startTime} ms to load all scripts`);
                    console.log("initializing application");
                    const heroInfo = new HeroInfo('魔器ラインハルト', 'RearmedReinhardt-Icon.png', MoveType.Cavalry, '青魔', 2, 41, 46, 45, 22, 20, 19, 11, 12, 3, 3, '0/0', '0/0', '0/0', '0/0', '0/0', 2731, -1, 468, 2732, 2733, 2164, -1, SeasonType.None, BlessingType.None, 'トードの再来', ['ラインハルト',], 0, [2731,], [], 1081, false, 'トラキア776', '魔器英雄', '2024-01-10', [468,], [2732,], [2733,], [2164,], []);
                    const weaponInfo = new SkillInfo(2731, '魔器・雷公の書', 14, 0, 0, 0, 0, 0, 0, [], [], -1, 1, 1, false, false, 14, false, false, AssistType.None, false, 0, WeaponType.BlueTome, 300, true, [WeaponType.All], [MoveType.Infantry, MoveType.Armor, MoveType.Flying, MoveType.Cavalry], false, true, '', SkillType.Weapon);
                    const maxSp = 2390;
                    init(heroInfo, [weaponInfo], maxSp);
                });
            });
        }

        if (isLocal) {
            window.addEventListener('load', (event) => {
                initCalculatorLocal();
            });
        }
    </script>
</body>

</html>